* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

#center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul {
  list-style: none;
  display: inline-block;
}

ul li {
  width: 30px;
  height: 30px;
  margin: 7px 0.5px;
}

ul li.one {
  background-color: #ff0000;
}
ul li.two {
  background-color: #ff0000;
}
ul li.different1 {
  background-color: #ff0000;
}
ul li.three {
  background-color: #ff0000;
}
ul li.different2 {
  background-color: #ff0000;
}
ul li.four {
  background-color: #ff0000;
}
ul li.different3 {
  background-color: #ff0000;
}
ul li.five {
  background-color: #ff0000;
}
ul li.six {
  background-color: #ff0000;
}
ul li.different4 {
  background-color: #ff0000;
}
ul li.seven {
  background-color: #ff0000;
}
ul li.different5 {
  background-color: #ff0000;
}
ul li.eight {
  background-color: #ff0000;
}
ul li.different6 {
  background-color: #ff0000;
}
ul li.nine {
  background-color: #ff0000;
}
